practicedfv2/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "practicedfv2"
		},
		"OnPremisesSQLServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'OnPremisesSQLServer'"
		},
		"OnlineOrdersHostedInAzureSQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'OnlineOrdersHostedInAzureSQL'"
		},
		"ProcessedOrdersBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ProcessedOrdersBlobStorage'"
		},
		"ChangedRecordsBlobLS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ChangedRecordsBlobLS'"
		},
		"ProcessedOrdersBlobStorage_DS_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat(guid(), '-', pipeline().RunId, '.txt')"
		},
		"ProcessedOrdersBlobStorage_DS_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "db-data"
		},
		"iomegakvaccess_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://iomegakvv2.vault.azure.net/"
		},
		"PracticeLiftNShiftISRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "iomegasqlserverv2.database.windows.net"
		},
		"PracticeLiftNShiftISRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName": {
			"type": "string",
			"defaultValue": "iomegaadmin"
		},
		"PracticeLiftNShiftISRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
			"type": "secureString"
		},
		"ProcessedOrdersDLSConnection_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://iomegadlsv1.azuredatalakestore.net/webhdfs/v1"
		},
		"ProcessedOrdersDLSConnection_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "4499f09c-741e-4057-ad20-e40d33ccd1d0"
		},
		"ProcessedOrdersDLSConnection_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "381a10df-8e85-43db-86e1-8893b075b027"
		},
		"ProcessedOrdersDLSConnection_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "7293f3cb-5705-4319-a0cc-15472af46eed"
		},
		"ProcessedOrdersDLSConnection_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "onpremisesdataintegration-rg"
		},
		"ProcessedOrdersDLS_DS_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat(guid(), '-processed', '.txt')"
		},
		"ProcessedOrdersDLS_DS_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "processed-files"
		},
		"ChangedRecordsToBlobDS_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat('changes-', guid(), '.txt')"
		},
		"ChangedRecordsToBlobDS_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "processed-results"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ExecuteLnSSSISPackage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute_LnS_SSISPackage",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "Practice SSIS Packages/LiftAndShiftSSISProject/OnlineOrderProcessor.dtsx"
							},
							"loggingLevel": "Verbose",
							"environmentPath": null,
							"connectVia": {
								"referenceName": "PracticeLiftNShiftISRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/PracticeLiftNShiftISRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremisesOrdersProcessingPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyOnlineOrdersToBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "OnlineOrders_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ProcessedOrdersBlobStorage_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OnlineOrders_DS')]",
				"[concat(variables('factoryId'), '/datasets/ProcessedOrdersBlobStorage_DS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnlineOrders_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Online Orders Data Set",
				"linkedServiceName": {
					"referenceName": "OnPremisesSQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "orderId",
						"type": "Int32"
					},
					{
						"name": "orderDate",
						"type": "Date"
					},
					{
						"name": "customerId",
						"type": "Int32"
					},
					{
						"name": "billingAddress",
						"type": "String"
					},
					{
						"name": "totalUnits",
						"type": "Int32"
					},
					{
						"name": "orderAmount",
						"type": "Int32"
					},
					{
						"name": "remarks",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[InternetOrders]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OnPremisesSQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessedOrdersBlobStorage_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ProcessedOrdersBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "[parameters('ProcessedOrdersBlobStorage_DS_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('ProcessedOrdersBlobStorage_DS_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ProcessedOrdersBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremisesSQLServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "OnPremises SQL Server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('OnPremisesSQLServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "onpremises-isruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/onpremises-isruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnlineOrdersHostedInAzureSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('OnlineOrdersHostedInAzureSQL_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "iomegakvaccess",
							"type": "LinkedServiceReference"
						},
						"secretName": "sqlpassword"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iomegakvaccess')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessedOrdersBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ProcessedOrdersBlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/iomegakvaccess')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('iomegakvaccess_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PracticeLiftNShiftISRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Central US",
						"nodeSize": "Standard_D4_v3",
						"numberOfNodes": 1,
						"maxParallelExecutionsPerNode": 1
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('PracticeLiftNShiftISRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogAdminUserName": "[parameters('PracticeLiftNShiftISRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName')]",
							"catalogAdminPassword": {
								"type": "SecureString",
								"value": "[parameters('PracticeLiftNShiftISRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
							},
							"catalogPricingTier": "S1"
						},
						"edition": "Standard",
						"licenseType": "LicenseIncluded"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/onpremises-isruntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "OnPremises Hosted IS Runtime",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessedOrdersDLSConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('ProcessedOrdersDLSConnection_properties_typeProperties_dataLakeStoreUri')]",
					"servicePrincipalId": "[parameters('ProcessedOrdersDLSConnection_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "iomegakvaccess",
							"type": "LinkedServiceReference"
						},
						"secretName": "adfv2appsecretkey"
					},
					"tenant": "[parameters('ProcessedOrdersDLSConnection_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('ProcessedOrdersDLSConnection_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('ProcessedOrdersDLSConnection_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iomegakvaccess')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnlineOrdersSQL_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OnlineOrdersHostedInAzureSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "orderId",
						"type": "Int32"
					},
					{
						"name": "orderDate",
						"type": "Date"
					},
					{
						"name": "customerId",
						"type": "Int32"
					},
					{
						"name": "billingAddress",
						"type": "String"
					},
					{
						"name": "totalUnits",
						"type": "Int32"
					},
					{
						"name": "orderAmount",
						"type": "Int32"
					},
					{
						"name": "remarks",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[InternetOrders]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OnlineOrdersHostedInAzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessedOrdersDLS_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ProcessedOrdersDLSConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "[parameters('ProcessedOrdersDLS_DS_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('ProcessedOrdersDLS_DS_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ProcessedOrdersDLSConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataFromSQLToDLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "OnlineOrdersSQL_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ProcessedOrdersDLS_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CallLogicAppsToSendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CopyDataFromSQLToDLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-03.centralus.logic.azure.com:443/workflows/186dbba44e1d4a2fb3fd2a1fa1d424d0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=4xq-O-1C1-CqklTSZcpwLmGU7WxTbOtwC07EaEUPUk8",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"Accept": "application/json"
							},
							"body": {
								"EmailTo": "jd.ramkumar@gmail.com",
								"Subject": "Simple Message",
								"Body": "This is a simple and sample message body",
								"IsHtml": false
							},
							"linkedServices": [],
							"datasets": []
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OnlineOrdersSQL_DS')]",
				"[concat(variables('factoryId'), '/datasets/ProcessedOrdersDLS_DS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataSourceTable_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OnlineOrdersHostedInAzureSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[data_source_table]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OnlineOrdersHostedInAzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WatermarkDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OnlineOrdersHostedInAzureSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[watermarktable]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OnlineOrdersHostedInAzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupOldWatermarkActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"dataset": {
								"referenceName": "WatermarkDS",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "LookupNewWatermarkActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "select MAX(LastModifytime) as NewWatermarkvalue from data_source_table"
							},
							"dataset": {
								"referenceName": "DataSourceTable_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "MoveTheContentsToBlobStorage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupOldWatermarkActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupNewWatermarkActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "select * from data_source_table where LastModifytime > '@{activity('LookupOldWatermarkActivity').output.firstRow.WatermarkValue}' and LastModifytime <= '@{activity('LookupNewWatermarkActivity').output.firstRow.NewWatermarkvalue}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DataSourceTable_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ChangedRecordsToBlobDS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "MoveTheContentsToBlobStorage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[usp_write_watermark]')]",
							"storedProcedureParameters": {
								"LastModifiedtime": {
									"value": {
										"value": "@{activity('LookupNewWatermarkActivity').output.firstRow.NewWatermarkvalue}",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TableName": {
									"value": {
										"value": "@{activity('LookupOldWatermarkActivity').output.firstRow.TableName}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "OnlineOrdersHostedInAzureSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WatermarkDS')]",
				"[concat(variables('factoryId'), '/datasets/DataSourceTable_DS')]",
				"[concat(variables('factoryId'), '/datasets/ChangedRecordsToBlobDS')]",
				"[concat(variables('factoryId'), '/linkedServices/OnlineOrdersHostedInAzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ChangedRecordsToBlobDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ChangedRecordsBlobLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "[parameters('ChangedRecordsToBlobDS_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('ChangedRecordsToBlobDS_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ChangedRecordsBlobLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ChangedRecordsBlobLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ChangedRecordsBlobLS_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}